#title{
    -fx-font: italic bold 32px "Arial";
    -fx-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0.0 , 0 , 5 );
}

/*.text{
    -fx-font: italic 16px "Arial";
    -fx-fill: white;
}*/

.button{
    -fx-background-color: black;
    -fx-font: 16px "Arial";
    -fx-font-style: italic;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-text-alignment: center;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.label{
    -fx-font: bold 12px "Arial";
    -fx-text-fill: white;
    -fx-padding: 5;
}

.grid{
    -fx-background-color: #242424;
    -fx-text-fill: white;
}

.text-field{
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-font: italic 16px "Arial";
    //-fx-background-color: transparent;
    //-fx-text-box-border:

}
.text-field:focused{
    //-fx-pref-height: 1;
    //-fx-background-color:black;
    //-fx-scale: 250%;
}